@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.item-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}

.item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.buy-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h2 {
    font-family: 'Oswald', sans-serif;

}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 60px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.buy-button:hover {
    background-color: #0056b3;
}